<div class="d-flex justify-content-center">
    <span>{{ 'Powered by'|trans }}&nbsp;</span>
    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="https://fossbilling.org" title="Billing Software"
        target="_blank">{{ 'FOSSBilling'|trans }}</a>
</div>