<div class="help">
    <h5>{{ 'Domains management'|trans }}</h5>
</div>

<div class="body">
    <div class="aligncenter">
        <a href="{{ 'servicedomain'|alink }}" class="btn btn-primary">
            <svg class="icon">
                <use xlink:href="#edit" />
            </svg>
           <span>Management</span>
        </a>
    </div>
</div>
