@use "flags";
@use "theme_settings";

.sticky-nav .nav-link {
  color: var(--tblr-body-color) !important;
} /* Override to fix top nav bar text colour in dark mode. Can be removed if tabler fix issue */

body {
    font-family: Verdana, sans-serif;
}

.page {
    min-height: calc(100vh - 2px);
}

.ck.ck-content:not(.ck-comment__input *) {
    min-height: 300px;
    overflow-y: auto;
}

.ts-input {
    color: inherit;
}

.ts-wrapper {
    .ts-control {
        width: 100%;
        color: inherit;
        &.locale {
            width: 205px;
        }
        .dropdown-menu {
            width: 100%;
            height: auto;
        }
    }

    .ts-dropdown {
        .active {
            background-color: rgba(var(--tblr-muted-rgb), .06);
            color: inherit;
        }

        .selected {
            background-color: rgba(var(--tblr-muted-rgb), .1);
        }
    }
}

.canned_ticket_response {
    width: 18rem;
}

.navbar-brand-image {
    height: 1.6rem
}

.ts-dropdown.locale-selector-dropdown {
    background-color: var(--tblr-bg-surface);
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    border-radius: 0 0 var(--tblr-border-radius) var(--tblr-border-radius);
    box-shadow: var(--tblr-box-shadow);
    z-index: 1080;
    border-top: 1px solid var(--tblr-border-color);
}

.ts-dropdown.locale-selector-dropdown .dropdown-item {
    background-color: transparent;
    color: var(--tblr-body-color);
    padding: 0.5rem 1rem;
}

.ts-dropdown.locale-selector-dropdown .dropdown-item:hover,
.ts-dropdown.locale-selector-dropdown .dropdown-item.active,
.ts-dropdown.locale-selector-dropdown .dropdown-item.selected {
    background-color: rgba(var(--tblr-primary-rgb), .1);
    color: var(--tblr-primary);
}

.navbar-nav .nav-item {
    overflow: visible;
}

.navbar-nav {
    overflow: visible;
}

.header {
    overflow: visible;
}

.ts-wrapper.js-language-selector.focus .ts-control.locale {
    border-color: var(--tblr-border-color) !important;
    box-shadow: none !important;
    outline: none !important;
}

.ts-wrapper.js-language-selector .ts-control.locale {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 768px) {
    .ts-wrapper.js-language-selector {
        width: 180px
    }
}

@media (max-width: 320px) {
    .js-theme-toggler {
        display: none;
    }
}

#script-code, #html-code, #html-code2 {
    resize: none;
}

[data-bs-theme=dark]
{
  .toast {
    background: var(--tblr-bg-surface);
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-secondary);
    }
  .toast-header {
    color: var(--tblr-secondary);
   }
}

.toast {
    position: relative;
  }
