@import "~@tabler/core/src/scss/tabler";
@import "~@tabler/core/src/scss/vendor/_litepicker.scss";
@import "flags";
@import "~tom-select/dist/css/tom-select.bootstrap5.css";
@import "bb-deprecated";
@import "dataTable-deprecated";
@import "main-deprecated";
@import "ui_custom";

.page {
    min-height: calc(100vh - 2px);
}

.visible {
    transition: opacity 400ms;
}

.hidden {
    opacity: 0;
}

.ck.ck-content:not(.ck-comment__input *) {
    min-height: 300px;
    overflow-y: auto;
}

.ts-input {
    color: inherit;
}

.ts-wrapper {
    .ts-control {
        width: 100%;
        color: inherit;
        &.locale {
            width: 205px;
        }
        .dropdown-menu {
            width: 100%;
            height: auto;
        }
    }

    .ts-dropdown {
        .active {
            background-color: rgba(var(--tblr-muted-rgb), .06);
            color: inherit;
        }

        .selected {
            background-color: rgba(var(--tblr-muted-rgb), .1);
        }
    }
}

.canned_ticket_response {
    width: 18rem;
}
