{% block subject %}[{{ guest.system_company.name }}] Password Changed{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #333333;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 20px;
        }
        
        p {
            margin: 0 0 10px;
        }
        
        strong {
            font-weight: bold;
        }
        
        .signature {
            font-style: italic;
            color: #999999;
            margin-top: 20px;
            border-top: 1px solid #cccccc;
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Password reset</h1>
    <p>Hello {{ staff.name }},</p>
    <p>Your password has been changed.</p>
    
    <p><a href="{{'admin/staff/login'|link({'email' : c.email }) }}" target="_blank">Click here to login.</a>
    
    <p class="signature">{{ guest.system_company.signature }}</p>
</body>
</html>
{% endblock %}
