# @see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/src/modules/Security/ @BelleNottelling
/src/modules/Serviceapikey/ @BelleNottelling
/src/core/GeoIP/ @BelleNottelling
/src/core/Security/Fingerprint.php @BelleNottelling
/src/core/SentryHelper.php @BelleNottelling
