<select
    name="canned_response"
    placeholder="Canned Responses"
    class="canned_ticket_response"
    data-csrf="{{CSRFToken}}"
    data-resturl="admin/support/canned_get"
>
    {% for ctitle, cat in admin.support_canned_pairs %}
        <optgroup label="{{ ctitle }}">
            {% for mid, mtitle in cat %}
                <option value="{{ mid }}">{{ mtitle }}</option>
            {% endfor %}
        </optgroup>
    {% endfor %}
</select>
