.git
.github
.ddev
.DS_Store
.php-cs-fixer.cache
.phpunit.cache
.vscode

cache
data
node_modules
output.log

src/config.php
src/vendor
src/**/node_modules
src/**/assets/build
src/data/cache/*
!src/data/cache/.gitkeep
src/data/log/*
!src/data/log/index.html

tests
tests-legacy
