.idea
._*
.DS_Store
.vagrant*
tmp
src/.htaccess
src/bb-config*
!src/bb-config-sample.php
src/bb-data/log/*
src/bb-data/cache/*
src/bb-data/tmp.txt
src/bb-vendor
src/bb-test.php
build
composer.phar
public
report/*

### Vagrant & puphpet ###
.vagrant/
puphpet/files/dot/ssh/*
!puphpet/files/dot/ssh/insecure_private_key

### node_moduels ###
node_modules
npm-debug.log
.history/