.vscode
._*
.DS_Store
src/config.php
src/config.old.php
src/data/log/*
src/data/cache/*
src/vendor/*
build
cache

### phpunit/phpunit ###
.phpunit.result.cache
.phpunit.cache/test-results
.phpunit.cache.pest

### node_modules ###
node_modules

### friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
src/install/php_error.log
src/themes/huraga/config/settings_data.json
