parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Closure\:\:adminLink\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:delete\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:findAll\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:getExistingModelById\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:isAdminLoggedIn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:isClientLoggedIn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:link\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/di.php

		-
			message: '#^Call to an undefined method Closure\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/di.php

		-
			message: '#^Call to an undefined method Monolog\\Handler\\HandlerInterface\:\:setFormatter\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/FOSSBilling/Monolog.php

		-
			message: '#^Method Registrar_Adapter_Namecheap\:\:getPrivacyInfo\(\) should return array\<string\> but returns array\<string, bool\|string\>\.$#'
			identifier: return.type
			count: 1
			path: src/library/Registrar/Adapter/Namecheap.php

		-
			message: '#^Method Registrar_Adapter_Resellerclub\:\:addSubReseller\(\) should return stdClass but returns array\|string\.$#'
			identifier: return.type
			count: 1
			path: src/library/Registrar/Adapter/Resellerclub.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasAnonymousFtp\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasCatchAll\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasCgi\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasCron\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasPhp\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasShell\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasSsl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasSpamFilter\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getMaxEmailAutoresponders\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getMaxEmailForwarders\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getMaxEmailLists\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/library/Server/Manager/Directadmin.php

		-
			message: '#^Access to an undefined property PleskX\\Api\\Struct\\Dns\\Info\:\:\$dns\.$#'
			identifier: property.notFound
			count: 1
			path: src/library/Server/Manager/Plesk.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasAnonymousFtp\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Plesk.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasCron\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Plesk.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasShell\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/library/Server/Manager/Plesk.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getHasSpamFilter\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/library/Server/Manager/Plesk.php

		-
			message: '#^Call to an undefined method Server_Package\:\:getMaxEmailLists\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/library/Server/Manager/Plesk.php

