parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Payment_AdapterAbstract\\:\\:init\\(\\)\\.$#"
			count: 1
			path: src/library/Payment/AdapterAbstract.php

		-
			message: "#^Method Registrar_Adapter_Internetbs\\:\\:getDomainDetails\\(\\) should return Registrar_Domain but return statement is missing\\.$#"
			count: 1
			path: src/library/Registrar/Adapter/Internetbs.php

		-
			message: "#^Undefined variable\\: \\$client_id$#"
			count: 1
			path: src/library/Server/Manager/Ispconfig3.php

		-
			message: "#^Undefined variable\\: \\$section$#"
			count: 1
			path: src/library/Server/Manager/Ispconfig3.php

		-
			message: "#^Method Server_Manager_Plesk\\:\\:changeAccountDomain\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: src/library/Server/Manager/Plesk.php

		-
			message: "#^Undefined variable\\: \\$domainId$#"
			count: 1
			path: src/library/Server/Manager/Plesk.php
