includes:
	- phpstan-baseline.neon

parameters:
	level: 3
	paths:
		- src
	bootstrapFiles:
		- src/load.php
	excludePaths:
		analyse:
		- src/vendor
		- src/library/Box/Request.php
		- src/library/Box/Response.php
		- src/library/Model/Admin.php
		- src/library/Model/Client.php
		- src/library/Model/ServiceLicense.php
		- src/library/Model/Product.php
		- src/library/Server/Manager/Custom.php
		- src/library/Server/Manager/Whm.php
		- src/Data/Cache
	universalObjectCratesClasses:
		- \RedBeanPHP\SimpleModel
		- \RedBeanPHP\OODBBean
	ignoreErrors:
		- '#^Function __trans not found\.$#'
		- '#^Function __pluralTrans not found\.$#'
		- '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
		- message: '#^Result of function header \(void\) is used\.$#'
		  path: src/modules/Custompages/Controller/Client.php
		- message: '#^Variable \$ext_id on left side of \?\?\= is never defined\.$#'
		  path: src/modules/Extension/Service.php
		- '#^Access to an undefined property RedBeanPHP\\SimpleModel\:\:\$updated_at\.$#'
		- '#^Access to an undefined property RedBeanPHP\\SimpleModel\:\:\$pass\.$#'
		- '#^Access to an undefined property RedBeanPHP\\SimpleModel\:\:\$username\.$#'
		- '#^Access to an undefined property RedBeanPHP\\SimpleModel\:\:\$sld\.$#'
		- '#^Access to an undefined property RedBeanPHP\\SimpleModel\:\:\$tld\.$#'
		- '#^Access to an undefined property RedBeanPHP\\OODBBean\:\:\$client_id\.$#'
		- '#^Access to an undefined property RedBeanPHP\\OODBBean\:\:\$config\.$#'
		- '#^Access to an undefined property RedBeanPHP\\OODBBean\:\:\$api_key\.$#'
		- '#^Access to an undefined property RedBeanPHP\\OODBBean\:\:\$updated_at\.$#'
		- '#^Access to an undefined property RedBeanPHP\\OODBBean\:\:\$created_at\.$#'
		- '#^Access to an undefined property RedBeanPHP\\OODBBean\:\:\$id\.$#'
