<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" beStrictAboutChangesToGlobalState="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/data</directory>
      <directory>src/library/Registrar/includes</directory>
      <directory>src/modules/Servicecentovacast/ccapiclient</directory>
      <directory>src/themes</directory>
      <directory>src/vendor</directory>
      <directory>src/install</directory>
      <file>src/library/PdoSessionHandler.php</file>
      <file>src/modules/Spamchecker/akismet.curl.class.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Library">
      <directory>tests/library</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
  </php>
</phpunit>
