{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'About us'|trans }}{% endblock %}

{% block content %}
<div class="h-block">
    <div class="h-block-header">
        <div class="icon"><span class="big-light-icon i-quote"></span></div>
        <h2>{{ 'About us'|trans }}</h2>
        <p>{{ company.signature }}</p>
    </div>
    <div class="block">
        <div class="box">
            {{ company.note|bbmd }}
        </div>
    </div>
</div>
{% endblock %}
