<div class="mb-5 p-5 text-white bg-dark rounded-3">
    <h1>{{ settings.showcase_heading }}</h1>
    <p>{{ settings.showcase_text }}</p>
    <a href="{{ settings.showcase_button_url }}" class="btn btn-outline-light btn-lg">{{ settings.showcase_button_title }}</a>
</div>