{% set currencies = guest.currency_get_pairs %}

{% if currencies|length > 1 %}
        <label for="currency" class="mt-2">
            <select id="currency" name="currency" class="currency_selector form-select ms-2">
                {% set selected = guest.cart_get_currency.code %}
                {% for code,title in currencies %}
                <option value="{{ code }}" class="currency_{{ code }}"{% if code == selected %} selected="selected"{% endif %}>{{ code }} - {{ title }}</option>
                {% endfor %}
            </select>
        </label>
{% endif %}
