{% block subject %}[{{ guest.system_company.name }}] FOSSBilling Email Test{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #333333;
		}

		h1 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 20px;
		}

		p {
			margin: 0 0 10px;
		}

		strong {
			font-weight: bold;
		}

		.signature {
			font-style: italic;
			color: #999999;
			margin-top: 20px;
			border-top: 1px solid #cccccc;
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<h1>Test email from [{{ guest.system_company.name }}]</h1>
	<p>Hi {{ staff_member_name }},</p>
	<p>If you are reading this email, FOSSBilling is <strong>configured properly</strong> and is <strong>able to send emails</strong>.</p>
	<p class="signature">{{ guest.system_company.signature }}</p>
</body>
</html>
{% endblock %}
