/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-23-basket2 {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: 0px 0px;
  width: 23px;
  height: 23px;
}
.sprite-23-dialog {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -23px 0px;
  width: 23px;
  height: 23px;
}
.sprite-23-home {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: 0px -23px;
  width: 23px;
  height: 23px;
}
.sprite-23-money {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -23px -23px;
  width: 23px;
  height: 23px;
}
.sprite-23-speech {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -46px 0px;
  width: 23px;
  height: 23px;
}
.sprite-23-user {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -46px -23px;
  width: 23px;
  height: 23px;
}
