{% embed 'partial_admin_related_section.html.twig' with {
    title: 'Domain Management'|trans,
    subtitle: 'Domain products are configured from the shared domain management area, including TLD pricing, registrars, and nameservers.'|trans,
    card_class: 'mb-0'
} %}
    {% block section_footer %}
        <div class="d-flex justify-content-end">
            <a href="{{ 'servicedomain'|url }}" class="btn btn-primary">
                <svg class="icon">
                    <use href="#edit" />
                </svg>
                <span>{{ 'Open Domain Management'|trans }}</span>
            </a>
        </div>
    {% endblock %}
{% endembed %}
