{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ 'Order'|trans }}{% endblock %}

{% set loader_nr = request.loader | default("8")%}
{% set loader_url = ('img/assets/loaders/loader'~loader_nr~'.gif') %}

{% block body_class %}order-product{% endblock %}
{% block breadcrumb %}
    <li class="active breadcrumb-item" aria-current="page">{{ 'Order'|trans }}</li>
{% endblock %}
{% block content_before %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header py-3 py-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="w-100">
                            <h5 class="mb-1">{{ 'Products'|trans }}</h5>
                            {% include 'mod_orderbutton_currency.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="card-body overflow-hidden">
                    {% include 'mod_orderbutton_index.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar2 %}
    {% include 'partial_currency.html.twig' %}
{% endblock %}

{% block js %}
{% autoescape "js" %}
<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        $('#loader-image').hide();
    }
</script>
{% endautoescape %}
{% endblock %}
