$primary: #005fc5;
$font-family-sans-serif: 'Inter', sans-serif;
$warning: #f59e0b;
$danger: #dc2626;
$light: #fff;

$accordion-button-active-bg: rgba($primary, .05);
$accordion-button-focus-border-color: rgba($primary, .08);

@import "~bootstrap/scss/bootstrap";
@import "~tom-select/dist/css/tom-select.bootstrap5.css";
@import "flags";

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #f5f5f5;
}

.fs-7 {
    font-size: .875rem;
}

label:has(+ input[required])::after,
label:has(+ textarea[required])::after{
    content: " *";
    color: $danger;
}

.offcanvas-item {
    border-bottom: 1px rgba(#000, .1) solid;

    &:first-child {
        border-top: 1px rgba(#000, .1) solid;
    }

    &:hover {
        background: #fafafa;
    }

    > a {
        color: $secondary;
    }
}

.card, .card-header, .card-footer {
    background-color: $light;
}

.card-body {
    @at-root table {
        > thead {
            > tr {
                > th {
                    font-size: $font-size-sm * .875;
                    color: $secondary;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    vertical-align: middle;
                }
            }
        }
    }
}


.svg-icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
}

// Remove order management accordion icons
#orderManager {
    --#{$prefix}accordion-btn-icon: none;
    --#{$prefix}accordion-btn-active-icon: none;
}


// TomSelect dropdown
.ts-input {
    color: inherit;
}

.ts-wrapper {
    &.form-select {
        background-color: inherit;
    }

    .ts-control {
        font-size: 14px;
        width: 100%;
        color: inherit;

        &.locale {
            width: 205px;
        }

        .dropdown-menu {
            width: 100%;
            height: auto;
        }
    }

    .ts-dropdown {
        font-size: 14px;

        .active {
            background-color: rgba($secondary, .06);
            color: inherit;
        }

        .selected {
            background-color: rgba($secondary, .1);
        }
    }
}

@media (max-width: 768px) {
    .ts-wrapper.js-language-selector {
        width: 180px
    }
}

.invoice-gateway {
    border: 1px $border-color solid;

    &:hover {
        border: 1px $primary solid;
    }
}
