{% if order.status == 'active' %}
<div class="tn-card tn-card--compact mb-4">
    <div class="tn-card__header">
        <span class="tn-card__title">{{ service.filename }}</span>
    </div>
    <a class="tn-btn tn-btn--primary" href='{{ "servicedownloadable/get-file/#{order.id}"|url }}'>
        <svg class="icon"><use href="#download" /></svg>{{ 'Download'|trans }}
    </a>
</div>
{% endif %}
