<div class="help">
    <h5>{{ 'Domains management'|trans }}</h5>
</div>

<div class="body">
    <div class="aligncenter">
        <a href="{{ 'servicedomain'|alink }}" class="btn btn-primary">
            <img src="images/edit.png" alt=""><span>Management</span>
        </a>
    </div>
</div>
