<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./assets/css/pico.min.css" rel="stylesheet">
        <script src="./assets/js/modal.js"></script>
        <title>FOSSBilling Installation</title>
        <base href="{{ constant('URL_INSTALL') }}"/>
        <style type="text/css">
            .green {
                color: green;
                font-weight: bold;
            }
            .red {
                color: red;
                font-weight: bold;
            }
            .orange {
                color: orange;
                font-weight: bold;
            }
            hr {
                margin-bottom: 3em;
            }
            .button-inline {
                display: inline;
                width: 25%;
            }
            .float-right-margin {
                float: right;
                margin-right: 1.5em;
            }
            .float-left-margin {
                float: left;
                margin-left: 1.5em;
            }
        </style>
    </head>
    <body>
        <main class="container">
            <nav style='padding-bottom: 1em;'>
                <ul>
                    <li><a href="{{ constant('URL_INSTALL') }}" title="FOSSBilling"><img src="../themes/huraga/assets/img/logo_white.svg" alt="FOSSBilling Logo" height="50px" width="238"/></a></li>
                </ul>
                <ul>
                    <li><a href="https://fossbilling.org/docs" target="_blank" data-tooltip="Opens in a new window.">Documentation</a></li>
                    <li><a href="https://github.com/FOSSBilling/FOSSBilling/issues" target="_blank" data-tooltip="Opens in a new window.">Bug Reports</a></li>
                </ul>
            </nav>
            {% block page %}{% endblock %}
        </main>
        <footer class="container">
            <small>
                <span>&copy; Copyright {{ now|date('Y') }}. All rights reserved. Powered by <a href="https://fossbilling.org" title="FOSSBilling" target="_blank" data-tooltip="Opens in a new tab.">FOSSBilling {{version}}</a></span>
            </small>
        </footer>
        {% block javascript %}{% endblock %}
    </body>
</html>
