<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block meta_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "partial_bb_meta.html.twig" %}

    <link rel="stylesheet" href="build/css/boxbilling-bundle.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cuprum">

    <script src="build/js/boxbilling-bundle.min.js?v={{ guest.system_version }}"></script>
</head>

<body class="bg-gray-100">
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>
