<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block meta_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">

    {% include "partial_bb_meta.html.twig" %}

    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
    <link rel="stylesheet" href="build/css/boxbilling-bundle.min.css">

    <script src="build/js/boxbilling-bundle.min.js?v={{ guest.system_version }}"></script>
</head>

<body class="border-top-wide border-primary d-flex flex-column theme-light">
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}

    <div class="d-none">
        {% include '../build/symbol/icons-sprite.svg' %}
    </div>
</body>
</html>
