<div class="card-body">
    <h5>{{ 'Domains management'|trans }}</h5>
</div>

<div class="card-footer text-center">
    <a href="{{ 'servicedomain'|alink }}" class="d-inline-block mx-1 btn bg-light bg-gradient">
        <svg class="mb-2 text-secondary" width="24" height="24">
            <use xlink:href="#settings" />
        </svg>
        <span class="d-block text-secondary">{{ 'Management'|trans }}</span>
    </a>
</div>
