/*! * Walking Pixels - Huraga v1.7 * Red color * */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background-color: #e64040;
  background-image: linear-gradient(to bottom, #e74949, #e43232);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe74949', endColorstr='#ffe43232', GradientType=0);
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #e64040;
  background-image: linear-gradient(to bottom, #e74949, #e43232);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe74949', endColorstr='#ffe43232', GradientType=0);
}
.btn-primary {
  background-image: linear-gradient(to bottom, #e74949, #e77149);
  background-repeat: repeat-x;
  border-color: #e77149 #e77149 #c9461b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #e77149;
  *background-color: #e45f32;
}
.btn-link {
  color: #e74949;
}
.btn-link:hover, .btn-link:focus {
  color: #b21818;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #e77149;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: #e74949;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #e74949;
}
.nav .dropdown-toggle .caret {
  border-top-color: #e74949;
  border-bottom-color: #e74949;
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
  border-top-color: #e74949;
  border-bottom-color: #e74949;
}
a.thumbnail:hover, a.thumbnail:focus {
  border-color: #e74949;
}
.main-navigation > ul > li > a:hover {
  color: #e74949;
}
.btn.btn-flat.btn-primary {
  background-color: #404040;
}
.form-gallery .thumbnails .thumbnail.active {
  border-color: #40444d;
  background-color: #e74949;
}
.thumbnails li .thumbnail-actions {
  background-color: #e74949;
}
.data-block section .accordion .accordion-toggle:hover {
  color: #e74949;
}
.data-block.raw .accordion-toggle:hover {
  background-color: #e74949;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
  color: #e74949;
}
.tabs-left > .nav-tabs > li > a:hover {
  color: #e74949;
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
  color: #e74949;
}
.tabs-right > .nav-tabs > li > a:hover {
  color: #e74949;
}
/* Loading */
.loading {
  background-image: url("../img/icons/loading_red.gif");
}
.data-block header h2 + .btn li.active .btn.btn-flat.btn-primary, .data-block header h2 + .btn-group li.active .btn.btn-flat.btn-primary, .data-block header .data-header-actions li.active .btn.btn-flat.btn-primary {
  background-color: #c91b1b;
}
.data-block.accordion-block .accordion-toggle:hover {
  color: #e74949;
}
.wizard ul.anchor li a.selected {
  color: #e74949;
}
.wizard ul.anchor li a.done {
  color: #e74949;
}
.wizard ul.anchor li a.done .stepDesc {
  color: #e74949;
}
.wizard .buttonNext, .wizard .buttonPrevious, .wizard .buttonFinish {
  background-color: #e75949;
  background-image: linear-gradient(to bottom, #e74949, #e77149);
  border-color: #e77149 #e77149 #c9461b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wizard .buttonNext:hover, .wizard .buttonPrevious:hover, .wizard .buttonFinish:hover, .wizard .buttonNext:focus, .wizard .buttonPrevious:focus, .wizard .buttonFinish:focus, .wizard .buttonNext:active, .wizard .buttonPrevious:active, .wizard .buttonFinish:active, .wizard .buttonNext.active, .wizard .buttonPrevious.active, .wizard .buttonFinish.active, .wizard .buttonNext.disabled, .wizard .buttonPrevious.disabled, .wizard .buttonFinish.disabled, .wizard .buttonNext[disabled], .wizard .buttonPrevious[disabled], .wizard .buttonFinish[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.wizard .buttonNext:active, .wizard .buttonPrevious:active, .wizard .buttonFinish:active, .wizard .buttonNext.active, .wizard .buttonPrevious.active, .wizard .buttonFinish.active {
  background-color: #cccccc \9;
}
.widgets > li > a:hover strong {
  color: #e74949;
}
.widgets > li .sparkline + a:hover {
  color: #e74949;
}
.has-switch span.switch-primary, .has-switch span.switch-left {
  background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
  border-color: #ffffff #ffffff #d9d9d9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.has-switch span.switch-primary:hover, .has-switch span.switch-left:hover, .has-switch span.switch-primary:focus, .has-switch span.switch-left:focus, .has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active, .has-switch span.switch-primary.disabled, .has-switch span.switch-left.disabled, .has-switch span.switch-primary[disabled], .has-switch span.switch-left[disabled] {
  background-color: #e74949;
  *background-color: #e43232;
}
.has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active {
  background-color: #e01d1d \9;
}
.full-calendar .fc-event-skin {
  background-color: #e74949;
}
div.tagsinput span.tag {
  background: #e74949;
  border-color: #e74949;
}
div.jGrowl div.primary {
  background-color: #e74949;
}
.datepicker td.active, .datepicker td.active:hover {
  background-color: #e74949;
}
.datepicker td span.active {
  background-color: #e74949;
}
.no-textshadow .error-page .error-container h1 {
  color: #e74949;
}
