/*!
 * Walking Pixels - Huraga v1.7
 * 
 * Dark color
 * 
 */
 .dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus,
 .dropdown-submenu:hover > a,
 .dropdown-submenu:focus > a {
   background-color: #3b3f47;
   background-image: -moz-linear-gradient(top, #40444d, #34383f);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40444d), to(#34383f));
   background-image: -webkit-linear-gradient(top, #40444d, #34383f);
   background-image: -o-linear-gradient(top, #40444d, #34383f);
   background-image: linear-gradient(to bottom, #40444d, #34383f);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff40444d', endColorstr='#ff34383f', GradientType=0);
 }
 .dropdown-menu > .active > a,
 .dropdown-menu > .active > a:hover,
 .dropdown-menu > .active > a:focus {
  background-color: #3b3f47;
  background-image: -moz-linear-gradient(top, #40444d, #34383f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40444d), to(#34383f));
  background-image: -webkit-linear-gradient(top, #40444d, #34383f);
  background-image: -o-linear-gradient(top, #40444d, #34383f);
  background-image: linear-gradient(to bottom, #40444d, #34383f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff40444d', endColorstr='#ff34383f', GradientType=0);
}
 .btn-primary {
  background-image: -moz-linear-gradient(top, #40444d, #40414d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40444d), to(#40414d));
  background-image: -webkit-linear-gradient(top, #40444d, #40414d);
  background-image: -o-linear-gradient(top, #40444d, #40414d);
  background-image: linear-gradient(to bottom, #40444d, #40414d);
  border-color: #40414d #40414d #1d1e23;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
 .btn-primary.disabled,
 .btn-primary[disabled] {
  background-color: #40414d;
  *background-color: #34353f;
 }
 .btn-primary:active,
 .btn-primary.active {
 }
 .btn-link {
    color: #4986e7;
   }
 .btn-link:hover,
 .btn-link:focus {
  color: #40444d;
 }
 .btn-group.open .btn-primary.dropdown-toggle {
  background-color: #40414d;
 }
 .nav-list > .active > a,
 .nav-list > .active > a:hover,
 .nav-list > .active > a:focus {
   background-color: #4986e7;
 }
 .nav-pills > .active > a,
 .nav-pills > .active > a:hover,
 .nav-pills > .active > a:focus {
  background-color: #40444d;
 }
 .nav .dropdown-toggle .caret {
  border-top-color: #40444d;
  border-bottom-color: #40444d;
 }
 .nav .dropdown-toggle:hover .caret,
 .nav .dropdown-toggle:focus .caret {
  border-top-color: #121315;
  border-bottom-color: #121315;
 }
 a.thumbnail:hover,
 a.thumbnail:focus {
  border-color: #40444d;
 }
 .main-navigation > ul > li > a:hover {
  color: #40444d;
 }
 .btn.btn-flat.btn-primary {
  background-color: #404040;
 }
 .form-gallery .thumbnails .thumbnail.active {
  border-color: #40444d;
  background-color: #575d69;
 }
 .thumbnails li .thumbnail-actions {
  background-color: #4986e7;
 }
 .data-block section .accordion .accordion-toggle:hover {
  color: #40444d;
 }
 .data-block.raw .accordion-toggle:hover {
  background-color: #40444d;
 }
 .tabs-left > .nav-tabs .active > a,
 .tabs-left > .nav-tabs .active > a:hover {
  color: #40444d;
 }
 .tabs-left > .nav-tabs > li > a:hover {
  color: #40444d;
 }
 .tabs-right > .nav-tabs .active > a,
 .tabs-right > .nav-tabs .active > a:hover {
  color: #40444d;
 }
 .tabs-right > .nav-tabs > li > a:hover {
  color: #40444d;
 }
 /* Loading */
 .loading {
   background-image: url("../img/icons/loading_dark.gif");
 }
 .data-block header h2 + .btn li.active .btn.btn-flat.btn-primary,
 .data-block header h2 + .btn-group li.active .btn.btn-flat.btn-primary,
 .data-block header .data-header-actions li.active .btn.btn-flat.btn-primary {
  background-color: #1d1f23;
 }
 .data-block.accordion-block .accordion-toggle:hover {
  color: #40444d;
 }
 .wizard ul.anchor li a.selected {
  color: #40444d;
 }
 .wizard ul.anchor li a.done {
  color: #40444d;
 }
 .wizard ul.anchor li a.done .stepDesc {
  color: #40444d;
 }
 .wizard .buttonNext,
 .wizard .buttonPrevious,
 .wizard .buttonFinish {
  background-color: #40434d;
  background-image: -moz-linear-gradient(top, #40444d, #40414d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40444d), to(#40414d));
  background-image: -webkit-linear-gradient(top, #40444d, #40414d);
  background-image: -o-linear-gradient(top, #40444d, #40414d);
  background-image: linear-gradient(to bottom, #40444d, #40414d);
  background-repeat: repeat-x;
  border-color: #40414d #40414d #1d1e23;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 }
 .wizard .buttonNext:hover,
 .wizard .buttonPrevious:hover,
 .wizard .buttonFinish:hover,
 .wizard .buttonNext:focus,
 .wizard .buttonPrevious:focus,
 .wizard .buttonFinish:focus,
 .wizard .buttonNext:active,
 .wizard .buttonPrevious:active,
 .wizard .buttonFinish:active,
 .wizard .buttonNext.active,
 .wizard .buttonPrevious.active,
 .wizard .buttonFinish.active,
 .wizard .buttonNext.disabled,
 .wizard .buttonPrevious.disabled,
 .wizard .buttonFinish.disabled,
 .wizard .buttonNext[disabled],
 .wizard .buttonPrevious[disabled],
 .wizard .buttonFinish[disabled] {
  background-color: #40414d;
  *background-color: #34353f;
 }
 .wizard .buttonNext:active,
 .wizard .buttonPrevious:active,
 .wizard .buttonFinish:active,
 .wizard .buttonNext.active,
 .wizard .buttonPrevious.active,
 .wizard .buttonFinish.active {
  background-color: #292931 \9;
}
 .widgets > li > a:hover strong {
  color: #40444d;
}
 .widgets > li .sparkline + a:hover {
  color: #40444d;
 }
 .has-switch span.switch-primary,
 .has-switch span.switch-left {
  background-image: -moz-linear-gradient(top, #40414d, #40444d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40414d), to(#40444d));
  background-image: -webkit-linear-gradient(top, #40414d, #40444d);
  background-image: -o-linear-gradient(top, #40414d, #40444d);
  background-image: linear-gradient(to bottom, #40414d, #40444d);
  background-repeat: repeat-x;
  border-color: #40444d #40444d #1d1f23;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 }
 .has-switch span.switch-primary:hover,
 .has-switch span.switch-left:hover,
 .has-switch span.switch-primary:focus,
 .has-switch span.switch-left:focus,
 .has-switch span.switch-primary:active,
 .has-switch span.switch-left:active,
 .has-switch span.switch-primary.active,
 .has-switch span.switch-left.active,
 .has-switch span.switch-primary.disabled,
 .has-switch span.switch-left.disabled,
 .has-switch span.switch-primary[disabled],
 .has-switch span.switch-left[disabled] {
  background-color: #40444d;
  *background-color: #34383f;
 }
 .has-switch span.switch-primary:active,
 .has-switch span.switch-left:active,
 .has-switch span.switch-primary.active,
 .has-switch span.switch-left.active {
  background-color: #292b31 \9;
}
 .full-calendar .fc-event-skin {
  background-color: #40444d;
}
 div.tagsinput span.tag {
  background: #40444d;
  border-color: #40444d;
 }
 div.jGrowl div.primary {
  background-color: #40444d;
}
 .datepicker td.active,
 .datepicker td.active:hover {
  background-color: #40444d;
}
 .datepicker td span.active {
  background-color: #40444d;
 }
 .no-textshadow .error-page .error-container h1 {
  color: #40444d;
}