/*! * Walking Pixels - Huraga v1.7 * Blue color * */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background-color: #4080e6;
  background-image: linear-gradient(to bottom, #4986e7, #3277e4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4986e7', endColorstr='#ff3277e4', GradientType=0);
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #4080e6;
  background-image: linear-gradient(to bottom, #4986e7, #3277e4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4986e7', endColorstr='#ff3277e4', GradientType=0);
}
.btn-primary {
  background-image: linear-gradient(to bottom, #4986e7, #495fe7);
  border-color: #495fe7 #495fe7 #1b32c9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #495fe7;
  *background-color: #324be4;
}
.btn-link {
  color: #4986e7;
}
.btn-link:hover, .btn-link:focus {
  color: #1853b2;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #495fe7;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: #4986e7;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #4986e7;
}
.nav .dropdown-toggle .caret {
  border-top-color: #4986e7;
  border-bottom-color: #4986e7;
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
  border-top-color: #1853b2;
  border-bottom-color: #1853b2;
}
a.thumbnail:hover, a.thumbnail:focus {
  border-color: #4986e7;
}
.main-navigation > ul > li > a:hover {
  color: #4986e7;
}
.btn.btn-flat.btn-primary {
  background-color: #4986e7;
}
.form-gallery .thumbnails .thumbnail.active {
  border-color: #4986e7;
  background-color: #76a4ed;
}
.thumbnails li .thumbnail-actions {
  background-color: #4986e7;
}
.data-block section .accordion .accordion-toggle:hover {
  color: #4986e7;
}
.data-block.raw .accordion-toggle:hover {
  background-color: #4986e7;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
  color: #4986e7;
}
.tabs-left > .nav-tabs > li > a:hover {
  color: #4986e7;
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
  color: #4986e7;
}
.tabs-right > .nav-tabs > li > a:hover {
  color: #4986e7;
}
/* Loading */
.loading {
  background-image: url("../img/icons/loading_blue.gif");
}
.data-block header h2 + .btn li.active .btn.btn-flat.btn-primary, .data-block header h2 + .btn-group li.active .btn.btn-flat.btn-primary, .data-block header .data-header-actions li.active .btn.btn-flat.btn-primary {
  background-color: #1b5ec9;
}
.data-block.accordion-block .accordion-toggle:hover {
  color: #4986e7;
}
.wizard ul.anchor li a.selected {
  color: #4986e7;
}
.wizard ul.anchor li a.done {
  color: #4986e7;
}
.wizard ul.anchor li a.done .stepDesc {
  color: #4986e7;
}
.wizard .buttonNext, .wizard .buttonPrevious, .wizard .buttonFinish {
  background-color: #4976e7;
  background-image: linear-gradient(to bottom, #4986e7, #495fe7);
  border-color: #495fe7 #495fe7 #1b32c9;
  *background-color: #495fe7;
}
.wizard .buttonNext:hover, .wizard .buttonPrevious:hover, .wizard .buttonFinish:hover, .wizard .buttonNext:focus, .wizard .buttonPrevious:focus, .wizard .buttonFinish:focus, .wizard .buttonNext:active, .wizard .buttonPrevious:active, .wizard .buttonFinish:active, .wizard .buttonNext.active, .wizard .buttonPrevious.active, .wizard .buttonFinish.active, .wizard .buttonNext.disabled, .wizard .buttonPrevious.disabled, .wizard .buttonFinish.disabled, .wizard .buttonNext[disabled], .wizard .buttonPrevious[disabled], .wizard .buttonFinish[disabled] {
  color: #ffffff;
  background-color: #495fe7;
  *background-color: #324be4;
}
.wizard .buttonNext:active, .wizard .buttonPrevious:active, .wizard .buttonFinish:active, .wizard .buttonNext.active, .wizard .buttonPrevious.active, .wizard .buttonFinish.active {
  background-color: #1d38e0 \9;
}
.widgets > li > a:hover strong {
  color: #4986e7;
}
.widgets > li .sparkline + a:hover {
  color: #4986e7;
}
.has-switch span.switch-primary, .has-switch span.switch-left {
  background-image: linear-gradient(to bottom, #495fe7, #4986e7);
  border-color: #4986e7 #4986e7 #1b5ec9;
  *background-color: #4986e7;
}
.has-switch span.switch-primary:hover, .has-switch span.switch-left:hover, .has-switch span.switch-primary:focus, .has-switch span.switch-left:focus, .has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active, .has-switch span.switch-primary.disabled, .has-switch span.switch-left.disabled, .has-switch span.switch-primary[disabled], .has-switch span.switch-left[disabled] {
  background-color: #4986e7;
  *background-color: #3277e4;
}
.has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active {
  background-color: #1d68e0 \9;
}
.full-calendar .fc-event-skin {
  background-color: #4986e7;
}
div.tagsinput span.tag {
  background: #4986e7;
  border-color: #4986e7;
}
div.jGrowl div.primary {
  background-color: #4986e7;
}
.datepicker td.active, .datepicker td.active:hover {
  background-color: #4986e7;
}
.datepicker td span.active {
  background-color: #4986e7;
}
.no-textshadow .error-page .error-container h1 {
  color: #4986e7;
}
