/*! * Walking Pixels - Huraga v1.7 * Green color * */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background-color: #65931e;
  background-image: linear-gradient(to bottom, #6b9b20, #5c861c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6b9b20', endColorstr='#ff5c861c', GradientType=0);
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #65931e;
  background-image: linear-gradient(to bottom, #6b9b20, #5c861c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6b9b20', endColorstr='#ff5c861c', GradientType=0);
}
.btn-primary {
  background-image: linear-gradient(to bottom, #6b9b20, #4c9b20);
  border-color: #4c9b20 #4c9b20 #2d5c13;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #4c9b20;
  *background-color: #42861c;
}
.btn-link {
  color: #6b9b20;
}
.btn-link:hover, .btn-link:focus {
  color: #31460f;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #4c9b20;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: #6b9b20;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #6b9b20;
}
.nav .dropdown-toggle .caret {
  border-top-color: #40444d;
  border-bottom-color: #40444d;
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
  border-top-color: #6b9b20;
  border-bottom-color: #6b9b20;
}
a.thumbnail:hover, a.thumbnail:focus {
  border-color: #6b9b20;
}
.main-navigation > ul > li > a:hover {
  color: #6b9b20;
}
.btn.btn-flat.btn-primary {
  background-color: #404040;
}
.form-gallery .thumbnails .thumbnail.active {
  border-color: #40444d;
  background-color: #6b9b20;
}
.thumbnails li .thumbnail-actions {
  background-color: #6b9b20;
}
.data-block section .accordion .accordion-toggle:hover {
  color: #6b9b20;
}
.data-block.raw .accordion-toggle:hover {
  background-color: #6b9b20;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
  color: #6b9b20;
}
.tabs-left > .nav-tabs > li > a:hover {
  color: #6b9b20;
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
  color: #6b9b20;
}
.tabs-right > .nav-tabs > li > a:hover {
  color: #6b9b20;
}
/* Loading */
.loading {
  background-image: url("../img/icons/loading_green.gif");
}
.data-block header h2 + .btn li.active .btn.btn-flat.btn-primary, .data-block header h2 + .btn-group li.active .btn.btn-flat.btn-primary, .data-block header .data-header-actions li.active .btn.btn-flat.btn-primary {
  background-color: #3f5c13;
}
.data-block.accordion-block .accordion-toggle:hover {
  color: #6b9b20;
}
.wizard ul.anchor li a.selected {
  color: #6b9b20;
}
.wizard ul.anchor li a.done {
  color: #6b9b20;
}
.wizard ul.anchor li a.done .stepDesc {
  color: #6b9b20;
}
.wizard .buttonNext, .wizard .buttonPrevious, .wizard .buttonFinish {
  background-color: #5f9b20;
  background-image: linear-gradient(to bottom, #6b9b20, #4c9b20);
  background-repeat: repeat-x;
  border-color: #4c9b20 #4c9b20 #2d5c13;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wizard .buttonNext:hover, .wizard .buttonPrevious:hover, .wizard .buttonFinish:hover, .wizard .buttonNext:focus, .wizard .buttonPrevious:focus, .wizard .buttonFinish:focus, .wizard .buttonNext:active, .wizard .buttonPrevious:active, .wizard .buttonFinish:active, .wizard .buttonNext.active, .wizard .buttonPrevious.active, .wizard .buttonFinish.active, .wizard .buttonNext.disabled, .wizard .buttonPrevious.disabled, .wizard .buttonFinish.disabled, .wizard .buttonNext[disabled], .wizard .buttonPrevious[disabled], .wizard .buttonFinish[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.wizard .buttonNext:active, .wizard .buttonPrevious:active, .wizard .buttonFinish:active, .wizard .buttonNext.active, .wizard .buttonPrevious.active, .wizard .buttonFinish.active {
  background-color: #cccccc \9;
}
.widgets > li > a:hover strong {
  color: #6b9b20;
}
.widgets > li .sparkline + a:hover {
  color: #6b9b20;
}
.has-switch span.switch-primary, .has-switch span.switch-left {
  background-image: linear-gradient(to bottom, #4c9b20, #6b9b20);
  border-color: #6b9b20 #6b9b20 #3f5c13;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.has-switch span.switch-primary:hover, .has-switch span.switch-left:hover, .has-switch span.switch-primary:focus, .has-switch span.switch-left:focus, .has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active, .has-switch span.switch-primary.disabled, .has-switch span.switch-left.disabled, .has-switch span.switch-primary[disabled], .has-switch span.switch-left[disabled] {
  background-color: #6b9b20;
  *background-color: #5c861c;
}
.has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active {
  background-color: #4e7117 \9;
}
.full-calendar .fc-event-skin {
  background-color: #6b9b20;
}
div.tagsinput span.tag {
  background: #6b9b20;
  border-color: #6b9b20;
}
div.jGrowl div.primary {
  background-color: #6b9b20;
}
.datepicker td.active, .datepicker td.active:hover {
  background-color: #6b9b20;
}
.datepicker td span.active {
  background-color: #6b9b20;
}
.no-textshadow .error-page .error-container h1 {
  color: #6b9b20;
}
