/**
 * This file contains the default CSS used for the PDF generator.
 * You can copy and rename this file to 'custom-pdf.css' and customize the CSS as you wish. 
 * The file will be loaded and inserted into the <style> tags for the PDF generation.
 * The backend used for PDF generation is Dompdf, which has fairly limited CSS support, roughly CSS 2.1
 */

 hr.Rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    position: relative;
    top: 35px;
}

div.InvoiceInfo {
    position: absolute;
    right: 30px;
    top: 0px;
    line-height: 0.2;
}

img.CompanyLogo {
    position: relative;
    left: 40px;
    top: 7px;
}

h3.CompanyInfo{
    position: absolute;
    left: 25px;
    top: 110px;
}

div.CompanyInfo{
    position: absolute;
    left: 25px;
    top: 145px;
    white-space: normal;
    line-height: 15px;
    max-width: 300px;
}

h3.ClientInfo{
    position: absolute;
    top: 110px;
    left: 375px;
}

div.ClientInfo{
    position: absolute;
    top: 145px;
    left: 375px;
    white-space: normal;
    line-height: 15px;
    max-width: 45%;
}

div.Breakdown{
    position: absolute;
    width: 100%;
}

table {
    border-collapse: collapse;
}

p {
    font-size: 18px;
}

tr:nth-of-type(odd) {
    background-color:#ccc;
}

.right{
    text-align:right;
}

/**
 * The font family used heavily influences the character support for the PDF generator.
 * DejaVu Sans offers very good support and is the recommended font to use.
 */
body {
    font-family: DejaVu Sans;
}
