/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.sprite-23-basket2 {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: 0px 0px;
  width: 23px;
  height: 23px;
}
.sprite-23-dialog {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -23px 0px;
  width: 23px;
  height: 23px;
}
.sprite-23-home {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: 0px -23px;
  width: 23px;
  height: 23px;
}
.sprite-23-money {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -23px -23px;
  width: 23px;
  height: 23px;
}
.sprite-23-speech {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -46px 0px;
  width: 23px;
  height: 23px;
}
.sprite-23-user {
  background-image: url(../sprites/dark-icons-23-sprite.png);
  background-position: -46px -23px;
  width: 23px;
  height: 23px;
}
