name: Deploy via Git Pull

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Remote Git Pull and Build
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 188.138.28.139
          port: 22
          username: webmaster
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/webmaster/web/portal.enitysky.dev/public_html
            
            # Ensure we are on the correct branch and pull latest changes
            git checkout dev
            git pull origin dev
            
            # PHP Dependencies
            # composer install --no-dev --optimize-autoloader
            
            # Node Dependencies and Asset Build
            # npm install
            # npm run build
            
            # Permissions and Cache Clearing
            rm -rf src/data/cache
            mkdir -p src/data/cache src/data/log src/data/uploads
            chmod -R 775 src/data
