name: Perform Live Tests

on:
  push:
  pull_request:
    branches: main

env:
    DB_HOST: 127.0.0.1
    DB_NAME: fossbilling
    DB_USER: root
    DB_PASS: root
    DB_PORT: 3306
    APP_ENV: test
    TEST_PASS: 4WGemqiihh8iM3
    TEST_EMAIL: email@example.com
    APP_URL: http://localhost/
    TEST_API_KEY: AW6qEQCa7U7FG96J9NFIZXNYMJ79M8LH

jobs:
  fresh-install:
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'pull_request' && github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id) || github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: 'PHP Build'
        uses: FOSSBilling/.workflows/.github/actions/php-build@11c3d3bb2ce6915aa0fc8af3165402a65400b084
        with:
          cache-deps: 'true'
          composer-args: '--prefer-dist --optimize-autoloader'
          php-version: 8.3

      - name: Make Needed Directories
        run: |
          mkdir -p ./src/themes/admin_default/build
          mkdir -p ./src/themes/huraga/build

      - name: Cache Built Admin Theme
        id: cache-admin_default
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ./src/themes/admin_default/build
          key: admin_default-${{ hashFiles('./package-lock.json', './src/themes/admin_default/assets/fossbilling.js', './src/themes/admin_default/assets/scss/*.scss', './src/themes/admin_default/assets/js/*.js', './src/themes/admin_default/assets/js/ui/*.js') }}

      - name: Cache Built Huraga Theme
        id: cache-huraga
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ./src/themes/huraga/build
          key: huraga-${{ hashFiles('./package-lock.json', './src/themes/huraga/assets/huraga.js', './src/themes/huraga/assets/scss/*.scss') }}

      - name: 'Install Node.js and Enable Caching'
        if: steps.cache-admin_default.outputs.cache-hit != 'true' || steps.cache-huraga.outputs.cache-hit != 'true'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          node-version: 24

      - name: Setup upterm session
        uses: owenthereal/action-upterm@v1
